body{
	background-color: rgb(200,255,255);
}
#genel{
	width: 1100px;
	height: auto;
	margin: auto;
}
.ust{
	width: 1100px;
	height: 190px;
	background:rgb(100,255,255);
}
.siteisim{
	font: bold 100px Bernard MT Condensed;
	color:rgb(0,93,255);	
}
.kitaparama{
	font: bold 30px Bahnschrift SemiBold;
	color:rgb(0,93,255);	
	float:bottom;
}
.aramakismi{
	width: 500px;
	height: 35px;	
}
.aramabutonu{
	height: 40px;
	color:rgb(0,93,255);
	background-color:rgb(100,255,255);
}













.menu{
	width: 1100px;
	height: 80px;
	background:rgb(100,255,255);
	margin-bottom:10px;
}

.menu li{
	list-style:none;
	float:left;
	margin-right:68px;
	margin-top:10px;

	position:relative;

}
.menu a{
	text-decoration:none;
	font: bold 20px verdana;
	background:rgb(255,93,255);
	color:rgb(0,93,255);
	display:block;
	padding:18px;
}
.menu ul li{
	position:relative;
}
.menu ul > li > ul{
	width:161px;
	position:absolute;
}
.menu ul li ul{
	display:none;
	padding:0px;
}
.menu ul li:hover ul{
	display:block;
	
}
.menu a:hover{
	background-color:#93C;
	transition:.5a ease-in-out;
}























.icerik{
	width: 1100px;
	height: auto;
}
.iceriksol{
	margin-right:10px;
	width: 740px;
	min-height: 800px;
	float: left;
}
.iceriksolbaslik{
	border: 1px solid black;
	width: 740px;
	height: 30px;
	background: tomato;
	font: bold 22px verdana;
}
.icerikkampanya{
	border: 1px solid black;	
	width: 740px;
	height: 200px;
}
.kampanyaplak{
	width: 740px;
	height: 200px;
}
.yenicikankitaplar{
	background:tomato;
	width: 740px;
	min-height: 820px;
	border: 1px solid black;	
}
.resp{
	width: 228px;
	height: 228px;
	float: left;
	margin: 8px;
}
.yenicikanresim{
	border: 1px solid black;
	padding:8px;
	width: 120px;
	height: 155px;
}
.yenicikankitapisim{
	min-width: 130px;
	height: 18px;	
	font: 18px bold black;
}
.yenicikankitapyazar{
	width: 100px;
	height: 11px;	
	background: red;
	font: 10px solid black;
	background: white;
}
.yenicikankitapyayinci{
	width: 100px;
	height: 11px;	
	font: 10px solid black;
	background: green;
}
.yenicikankitapfiyat{
	width: 100px;
	height: 15px;	
	background: red;
	font: 14px bold black;	
}
.butonsag{
	width: 40px;
	height: 40px;
	margin-right: 210px;
	margin-top: 20px;
}
.butonsol{
	width: 40px;
	height: 40px;
	margin-left: 210px;
	margin-top: 20px;
}
.iceriksag{
	width: 350px;
	min-height: 400px;
	background: green;
	float:right;
}
.iceriksagbaslik{
	border: 1px solid black;
	width: 350px;
	height: 30px;
	background: tomato;
	font: bold 22px verdana;

}
.icerikencoksatanplak{
	border: 1px solid black;
	width: 350px;
	height: 350px;
	background: blue;
	font: bold 22px verdana;

}
.resim{
	margin-top:5px;
	border: 4px solid red;
	padding:10px;
	width: 220px;
	height: 220px;
}
.kitapisim{
	width: 350px;
	height: 27px;	
	background: red;
	font: 24px bold black;
}
.kitapyazar{
	width: 350px;
	height: 14px;	
	background: red;
	font: 12px solid black;
	background: white;
}
.kitapyayinci{
	width: 350px;
	height: 12px;	
	font: 10px solid black;
	background: green;
}
.kitapfiyat{
	width: 350px;
	height: 20px;	
	background: red;
	font: 17px bold black;	
}
.alt{
	border: 1px solid black;
	width: 1100px;
	height: 100px;
	background: yellow;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
.logo{
	margin-top:10px;
	margin-right:35px;
	margin-left:35px;
	width: 80px;
	height: 80px;
	float:left;
}
.logoappstore{
	margin-top:13px;
	max-width: 160px;
	max-height: 160px;	
	float:left;
}
.logogplay{
	margin-top:29px;
	margin-left:25px;
	max-width: 140px;
	max-height: 140px;	
	float:left;
}
.kategorisol{
	min-height:650px;
	width:275px;
	float:left;
	background:tomato;
	border: 1px solid black;
}
.kategorisolbaslik{
	height:50px;
	width:275px;
	font: bold 33px verdana;
	background-color:blue;
	border-bottom: 1px solid black;
}

.kategorimenu ul{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
.kategorimenu a{
	text-decoration:none;
	font: bold 20px verdana;
	background:rgb(255,93,255);
	color:rgb(0,93,255);
	display:block;
	padding:18px;
	width:239px;
}
.kategorimenu ul > li{
	list-style:none;
	float:left;
	margin-right:0px;
}

.kategorimenu a:hover{
	background-color:#93C;
	transition:.5a ease-in-out;
}
.kategorisag{
	width:811px;
	min-height:652px;
	border: 1px solid black;
	float:right;
	background:purple;
}
.oksolabakar{
	height:300px;
	width:300px;
	margin-left:200px;
	margin-top:60px;
}